.container {
  position: relative;
  width: 100%;
  height: 600px;
  border: 1px solid black;
  background-color: #aa4b4b;
}


.container .box {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 1px solid green;
  border-radius: 10px;
}

.container .box.static {
  background-color: blue;
}

.container .box.relative {
  background-color: green;
  position: relative;
  left: 200px;
}





